In [1]:
pwd

'C:\\Users\\PRECIOUS ONYEDEKE\\Documents\\DATA-ENGINEERING\\internship class\\Data-Engineering'

In [2]:
x=1;
y=2;
d=x+y;
print d;

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(d)? (1150528806.py, line 4)

In [3]:
x=1;
y=2;
d=x+y;
print (d);

3

In [13]:
x=21;
y=23;
if x==43:
    print (x)
   
    print (y)

In [19]:
x=21;
y=23;
if x>43:
    print (x)
else:
    print (y)

23

In [2]:
list_mat = [[3,9,1], [4,8,5],[10,11,12]]
print (list_mat)

[[3, 9, 1], [4, 8, 5], [10, 11, 12]]

In [3]:
for i in list_mat:
    print(i)

[3, 9, 1]
[4, 8, 5]
[10, 11, 12]

In [8]:
for i in range (0, len(list_mat)):
    print (list_mat [i][-1-i])

1
8
10

In [9]:

arr = [6,8,4,2]
sum_val=arr[0]
for i in arr:
    if i+i==20:
        sum_val=i,i
print(sum_val)

6

In [3]:

dict={"one":1,"two":2}
sum_val=sum(dict.values())
print("oneplusttwo")
print(sum_val)

oneplusttwo
3

In [35]:
dict.items()

dict_items([('one', 1), ('plus', '+'), ('two', 2)])

In [5]:
def sleep (weekday, weekend):
    if weekday==false or weekend==true:
        return sleep

In [6]:
day=weekday
print(sleep)

NameError: name 'weekday' is not defined

In [49]:
def function1(num):
    total=0
    for i in range (1,100):
        if i%num==0:
            total+=i
    return total

In [51]:
b=function1(7)
print (b)

735

In [44]:
def convert (miles):
    kilometers=1.6*miles
    return kilometers

In [45]:
a=convert(5)
print (a)

8.0

In [55]:
s="sam"
print(s[0:2])

sa

In [2]:
import pandas as pd
print(pd.__version__)

1.4.4

In [26]:
num={'name':['precious','dinma','joeseph','favour','stella'], 'surname':['faith','sunny','grace','glory','james'], 
     'salary':[2000,100,8990,6744,4677]}
labels=pd.date_range('today',periods=5)
df1=pd.DataFrame(num,index=labels)
df1

                                name surname  salary
2023-01-31 10:27:28.310025  precious   faith    2000
2023-02-01 10:27:28.310025     dinma   sunny     100
2023-02-02 10:27:28.310025   joeseph   grace    8990
2023-02-03 10:27:28.310025    favour   glory    6744
2023-02-04 10:27:28.310025    stella   james    4677

In [29]:
data=['favour','precious','dinma','joeseph','favour','stella']
lebel=range(1,7)
columns=['names']
df2=pd.DataFrame(data,index=lebel,columns=columns)
df2

      names
1    favour
2  precious
3     dinma
4   joeseph
5    favour
6    stella

In [33]:

df1.columns

Index(['name', 'surname', 'salary'], dtype='object')

In [3]:
df5=pd.read_excel("C:\\Users\\PRECIOUS ONYEDEKE\\Documents\\microbial count.xlsx")
df5

,Unnamed: 0,Unnamed: 1,Average,log value,Unnamed: 4,Unnamed: 5,Unnamed: 6,Average.1,Unnamed: 8,log value.1,...,Unnamed: 15,Unnamed: 16,Average.3,log value.3,Unnamed: 19,Unnamed: 20,Unnamed: 21,Average.4,log value.4,Unnamed: 24
0,98.0,45.0,71.5,7.150000e+08,8.854306,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,68.0,103.0,85.5,8.550000e+08,8.931966,134.0,182.0,158.0,1.580000e+09,9.198657,...,25.0,48.0,36.5,3.650000e+08,8.562293,38.0,14.0,26.0,2.600000e+08,8.414973
2,45.0,83.0,64.0,6.400000e+08,8.806180,158.0,65.0,111.5,1.115000e+09,9.047275,...,53.0,94.0,73.5,7.350000e+08,8.866287,10.0,NaN,10.0,1.000000e+08,8.000000
3,154.0,91.0,122.5,1.225000e+09,9.088136,73.0,194.0,133.5,1.335000e+09,9.125481,...,63.0,81.0,72.0,7.200000e+08,8.857332,NaN,NaN,0.0,0.000000e+00,NaN
4,100.0,45.0,72.5,7.250000e+08,8.860338,206.0,293.0,249.5,2.495000e+09,9.397071,...,26.0,30.0,28.0,2.800000e+08,8.447158,42.0,18.0,30.0,3.000000e+08,8.477121
5,153.0,78.0,115.5,1.155000e+09,9.062582,45.0,178.0,111.5,1.115000e+09,9.047275,...,41.0,19.0,30.0,3.000000e+08,8.477121,30.0,NaN,30.0,3.000000e+08,8.477121
6,109.0,184.0,146.5,1.465000e+09,9.165838,234.0,160.0,197.0,1.970000e+09,9.294466,...,28.0,74.0,51.0,5.100000e+08,8.707570,16.0,18.0,17.0,1.700000e+08,8.230449
7,67.0,190.0,128.5,1.285000e+09,9.108903,97.0,52.0,74.5,7.450000e+08,8.872156,...,103.0,48.0,75.5,7.550000e+08,8.877947,42.0,64.0,53.0,5.300000e+08,8.724276
8,103.0,81.0,92.0,9.200000e+08,8.963788,103.0,147.0,125.0,1.250000e+09,9.096910,...,71.0,13.0,42.0,4.200000e+08,8.623249,NaN,NaN,0.0,0.000000e+00,NaN
9,231.0,190.0,210.5,2.105000e+09,9.323252,77.0,65.0,71.0,7.100000e+08,8.851258,...,50.0,68.0,59.0,5.900000e+08,8.770852,35.0,53.0,44.0,4.400000e+08,8.643453
10,152.0,70.0,111.0,1.110000e+09,9.045323,31.0,83.0,57.0,5.700000e+08,8.755875,...,106.0,45.0,75.5,7.550000e+08,8.877947,NaN,NaN,0.0,0.000000e+00,NaN
11,86.0,51.0,68.5,6.850000e+08,8.835691,142.0,200.0,171.0,1.710000e+09,9.232996,...,100.0,186.0,143.0,1.430000e+09,9.155336,98.0,106.0,102.0,1.020000e+09,9.008600
12,131.0,186.0,158.5,1.585000e+09,9.200029,120.0,100.0,110.0,1.100000e+09,9.041393,...,144.0,203.0,173.5,1.735000e+09,9.239299,NaN,NaN,0.0,0.000000e+00,NaN
13,51.0,33.0,42.0,4.200000e+08,8.623249,93.0,186.0,139.5,1.395000e+09,9.144574,...,106.0,56.0,81.0,8.100000e+08,8.908485,121.0,82.0,101.5,1.015000e+09,9.006466
14,76.0,94.0,85.0,8.500000e+08,8.929419,234.0,251.0,242.5,2.425000e+09,9.384712,...,78.0,105.0,91.5,9.150000e+08,8.961421,NaN,NaN,0.0,0.000000e+00,NaN
15,121.0,137.0,129.0,1.290000e+09,9.110590,182.0,263.0,222.5,2.225000e+09,9.347330,...,25.0,71.0,48.0,4.800000e+08,8.681241,52.0,8.0,30.0,3.000000e+08,8.477121
16,140.0,59.0,99.5,9.950000e+08,8.997823,174.0,65.0,119.5,1.195000e+09,9.077368,...,38.0,45.0,41.5,4.150000e+08,8.618048,2.0,NaN,2.0,2.000000e+07,7.301030
17,132.0,160.0,146.0,1.460000e+09,9.164353,70.0,136.0,103.0,1.030000e+09,9.012837,...,40.0,16.0,28.0,2.800000e+08,8.447158,13.0,1.0,7.0,7.000000e+07,7.845098
18,203.0,264.0,233.5,2.335000e+09,9.368287,193.0,201.0,197.0,1.970000e+09,9.294466,...,35.0,109.0,72.0,7.200000e+08,8.857332,53.0,27.0,40.0,4.000000e+08,8.602060
19,211.0,83.0,147.0,1.470000e+09,9.167317,84.0,170.0,127.0,1.270000e+09,9.103804,...,55.0,32.0,43.5,4.350000e+08,8.638489,38.0,16.0,27.0,2.700000e+08,8.431364
20,137.0,106.0,121.5,1.215000e+09,9.084576,231.0,45.0,138.0,1.380000e+09,9.139879,...,71.0,38.0,54.5,5.450000e+08,8.736397,123.0,41.0,82.0,8.200000e+08,8.913814
21,95.0,101.0,98.0,9.800000e+08,8.991226,63.0,102.0,82.5,8.250000e+08,8.916454,...,24.0,50.0,37.0,3.700000e+08,8.568202,NaN,17.0,17.0,1.700000e+08,8.230449
22,45.0,283.0,164.0,1.640000e+09,9.214844,154.0,73.0,113.5,1.135000e+09,9.054996,...,82.0,31.0,56.5,5.650000e+08,8.752048,27.0,32.0,29.5,2.950000e+08,8.469822
23,172.0,130.0,151.0,1.510000e+09,9.178977,101.0,231.0,166.0,1.660000e+09,9.220108,...,106.0,40.0,73.0,7.300000e+08,8.863323,56.0,132.0,94.0,9.400000e+08,8.973128
24,80.0,206.0,143.0,1.430000e+09,9.155336,45.0,25.0,35.0,3.500000e+08,8.544068,...,NaN,20.0,20.0,2.000000e+08,8.301030,NaN,NaN,0.0,0.000000e+00,NaN
25,141.0,78.0,109.5,1.095000e+09,9.039414,173.0,51.0,112.0,1.120000e+09,9.049218,...,45.0,10.0,27.5,2.750000e+08,8.439333,19.0,24.0,21.5,2.150000e+08,8.332438
26,52.0,19.0,35.5,3.550000e+08,8.550228,68.0,109.0,88.5,8.850000e+08,8.946943,...,83.0,102.0,92.5,9.250000e+08,8.966142,50.0,NaN,50.0,5.000000e+08,8.698970
27,38.0,136.0,87.0,8.700000e+08,8.939519,100.0,70.0,85.0,8.500000e+08,8.929419,...,50.0,78.0,64.0,6.400000e+08,8.806180,45.0,32.0,38.5,3.850000e+08,8.585461
28,NaN,126.0,126.0,1.260000e+09,9.100371,132.0,41.0,86.5,8.650000e+08,8.937016,...,100.0,NaN,100.0,1.000000e+09,9.000000,107.0,95.0,101.0,1.010000e+09,9.004321
29,25.0,61.0,43.0,4.300000e+08,8.633468,57.0,113.0,85.0,8.500000e+08,8.929419,...,83.0,34.0,58.5,5.850000e+08,8.767156,48.0,72.0,60.0,6.000000e+08,8.778151
30,NaN,NaN,NaN,NaN,NaN,170.0,61.0,115.5,1.155000e+09,9.062582,...,61.0,70.0,65.5,6.550000e+08,8.816241,106.0,NaN,106.0,1.060000e+09,9.025306

In [5]:
df5.fillna(50)

,Unnamed: 0,Unnamed: 1,Average,log value,Unnamed: 4,Unnamed: 5,Unnamed: 6,Average.1,Unnamed: 8,log value.1,...,Unnamed: 15,Unnamed: 16,Average.3,log value.3,Unnamed: 19,Unnamed: 20,Unnamed: 21,Average.4,log value.4,Unnamed: 24
0,98.0,45.0,71.5,7.150000e+08,8.854306,50.0,50.0,50.0,5.000000e+01,50.000000,...,50.0,50.0,50.0,5.000000e+01,50.000000,50.0,50.0,50.0,5.000000e+01,50.000000
1,68.0,103.0,85.5,8.550000e+08,8.931966,134.0,182.0,158.0,1.580000e+09,9.198657,...,25.0,48.0,36.5,3.650000e+08,8.562293,38.0,14.0,26.0,2.600000e+08,8.414973
2,45.0,83.0,64.0,6.400000e+08,8.806180,158.0,65.0,111.5,1.115000e+09,9.047275,...,53.0,94.0,73.5,7.350000e+08,8.866287,10.0,50.0,10.0,1.000000e+08,8.000000
3,154.0,91.0,122.5,1.225000e+09,9.088136,73.0,194.0,133.5,1.335000e+09,9.125481,...,63.0,81.0,72.0,7.200000e+08,8.857332,50.0,50.0,0.0,0.000000e+00,50.000000
4,100.0,45.0,72.5,7.250000e+08,8.860338,206.0,293.0,249.5,2.495000e+09,9.397071,...,26.0,30.0,28.0,2.800000e+08,8.447158,42.0,18.0,30.0,3.000000e+08,8.477121
5,153.0,78.0,115.5,1.155000e+09,9.062582,45.0,178.0,111.5,1.115000e+09,9.047275,...,41.0,19.0,30.0,3.000000e+08,8.477121,30.0,50.0,30.0,3.000000e+08,8.477121
6,109.0,184.0,146.5,1.465000e+09,9.165838,234.0,160.0,197.0,1.970000e+09,9.294466,...,28.0,74.0,51.0,5.100000e+08,8.707570,16.0,18.0,17.0,1.700000e+08,8.230449
7,67.0,190.0,128.5,1.285000e+09,9.108903,97.0,52.0,74.5,7.450000e+08,8.872156,...,103.0,48.0,75.5,7.550000e+08,8.877947,42.0,64.0,53.0,5.300000e+08,8.724276
8,103.0,81.0,92.0,9.200000e+08,8.963788,103.0,147.0,125.0,1.250000e+09,9.096910,...,71.0,13.0,42.0,4.200000e+08,8.623249,50.0,50.0,0.0,0.000000e+00,50.000000
9,231.0,190.0,210.5,2.105000e+09,9.323252,77.0,65.0,71.0,7.100000e+08,8.851258,...,50.0,68.0,59.0,5.900000e+08,8.770852,35.0,53.0,44.0,4.400000e+08,8.643453
10,152.0,70.0,111.0,1.110000e+09,9.045323,31.0,83.0,57.0,5.700000e+08,8.755875,...,106.0,45.0,75.5,7.550000e+08,8.877947,50.0,50.0,0.0,0.000000e+00,50.000000
11,86.0,51.0,68.5,6.850000e+08,8.835691,142.0,200.0,171.0,1.710000e+09,9.232996,...,100.0,186.0,143.0,1.430000e+09,9.155336,98.0,106.0,102.0,1.020000e+09,9.008600
12,131.0,186.0,158.5,1.585000e+09,9.200029,120.0,100.0,110.0,1.100000e+09,9.041393,...,144.0,203.0,173.5,1.735000e+09,9.239299,50.0,50.0,0.0,0.000000e+00,50.000000
13,51.0,33.0,42.0,4.200000e+08,8.623249,93.0,186.0,139.5,1.395000e+09,9.144574,...,106.0,56.0,81.0,8.100000e+08,8.908485,121.0,82.0,101.5,1.015000e+09,9.006466
14,76.0,94.0,85.0,8.500000e+08,8.929419,234.0,251.0,242.5,2.425000e+09,9.384712,...,78.0,105.0,91.5,9.150000e+08,8.961421,50.0,50.0,0.0,0.000000e+00,50.000000
15,121.0,137.0,129.0,1.290000e+09,9.110590,182.0,263.0,222.5,2.225000e+09,9.347330,...,25.0,71.0,48.0,4.800000e+08,8.681241,52.0,8.0,30.0,3.000000e+08,8.477121
16,140.0,59.0,99.5,9.950000e+08,8.997823,174.0,65.0,119.5,1.195000e+09,9.077368,...,38.0,45.0,41.5,4.150000e+08,8.618048,2.0,50.0,2.0,2.000000e+07,7.301030
17,132.0,160.0,146.0,1.460000e+09,9.164353,70.0,136.0,103.0,1.030000e+09,9.012837,...,40.0,16.0,28.0,2.800000e+08,8.447158,13.0,1.0,7.0,7.000000e+07,7.845098
18,203.0,264.0,233.5,2.335000e+09,9.368287,193.0,201.0,197.0,1.970000e+09,9.294466,...,35.0,109.0,72.0,7.200000e+08,8.857332,53.0,27.0,40.0,4.000000e+08,8.602060
19,211.0,83.0,147.0,1.470000e+09,9.167317,84.0,170.0,127.0,1.270000e+09,9.103804,...,55.0,32.0,43.5,4.350000e+08,8.638489,38.0,16.0,27.0,2.700000e+08,8.431364
20,137.0,106.0,121.5,1.215000e+09,9.084576,231.0,45.0,138.0,1.380000e+09,9.139879,...,71.0,38.0,54.5,5.450000e+08,8.736397,123.0,41.0,82.0,8.200000e+08,8.913814
21,95.0,101.0,98.0,9.800000e+08,8.991226,63.0,102.0,82.5,8.250000e+08,8.916454,...,24.0,50.0,37.0,3.700000e+08,8.568202,50.0,17.0,17.0,1.700000e+08,8.230449
22,45.0,283.0,164.0,1.640000e+09,9.214844,154.0,73.0,113.5,1.135000e+09,9.054996,...,82.0,31.0,56.5,5.650000e+08,8.752048,27.0,32.0,29.5,2.950000e+08,8.469822
23,172.0,130.0,151.0,1.510000e+09,9.178977,101.0,231.0,166.0,1.660000e+09,9.220108,...,106.0,40.0,73.0,7.300000e+08,8.863323,56.0,132.0,94.0,9.400000e+08,8.973128
24,80.0,206.0,143.0,1.430000e+09,9.155336,45.0,25.0,35.0,3.500000e+08,8.544068,...,50.0,20.0,20.0,2.000000e+08,8.301030,50.0,50.0,0.0,0.000000e+00,50.000000
25,141.0,78.0,109.5,1.095000e+09,9.039414,173.0,51.0,112.0,1.120000e+09,9.049218,...,45.0,10.0,27.5,2.750000e+08,8.439333,19.0,24.0,21.5,2.150000e+08,8.332438
26,52.0,19.0,35.5,3.550000e+08,8.550228,68.0,109.0,88.5,8.850000e+08,8.946943,...,83.0,102.0,92.5,9.250000e+08,8.966142,50.0,50.0,50.0,5.000000e+08,8.698970
27,38.0,136.0,87.0,8.700000e+08,8.939519,100.0,70.0,85.0,8.500000e+08,8.929419,...,50.0,78.0,64.0,6.400000e+08,8.806180,45.0,32.0,38.5,3.850000e+08,8.585461
28,50.0,126.0,126.0,1.260000e+09,9.100371,132.0,41.0,86.5,8.650000e+08,8.937016,...,100.0,50.0,100.0,1.000000e+09,9.000000,107.0,95.0,101.0,1.010000e+09,9.004321
29,25.0,61.0,43.0,4.300000e+08,8.633468,57.0,113.0,85.0,8.500000e+08,8.929419,...,83.0,34.0,58.5,5.850000e+08,8.767156,48.0,72.0,60.0,6.000000e+08,8.778151
30,50.0,50.0,50.0,5.000000e+01,50.000000,170.0,61.0,115.5,1.155000e+09,9.062582,...,61.0,70.0,65.5,6.550000e+08,8.816241,106.0,50.0,106.0,1.060000e+09,9.025306

In [8]:
df6=df5.describe()
df6

,Unnamed: 0,Unnamed: 1,Average,log value,Unnamed: 4,Unnamed: 5,Unnamed: 6,Average.1,Unnamed: 8,log value.1,...,Unnamed: 15,Unnamed: 16,Average.3,log value.3,Unnamed: 19,Unnamed: 20,Unnamed: 21,Average.4,log value.4,Unnamed: 24
count,29.000000,30.000000,30.000000,3.000000e+01,30.000000,30.000000,30.000000,30.000000,3.000000e+01,30.000000,...,29.000000,29.000000,30.000000,3.000000e+01,30.000000,23.000000,19.000000,30.000000,3.000000e+01,24.000000
mean,110.896552,115.766667,113.583333,1.135833e+09,9.016511,124.800000,130.400000,127.600000,1.276000e+09,9.068534,...,65.241379,62.620690,63.800000,6.380000e+08,8.753021,50.913043,44.842105,37.300000,3.730000e+08,8.527125
std,53.773563,66.521805,46.239460,4.623946e+08,0.195813,60.199324,74.626703,53.118508,5.311851e+08,0.188347,...,31.661891,46.129797,33.470677,3.347068e+08,0.215741,35.724849,37.103853,35.262709,3.526271e+08,0.413506
min,25.000000,19.000000,35.500000,3.550000e+08,8.550228,31.000000,25.000000,35.000000,3.500000e+08,8.544068,...,24.000000,10.000000,20.000000,2.000000e+08,8.301030,2.000000,1.000000,0.000000,0.000000e+00,7.301030
25%,68.000000,72.000000,85.125000,8.512500e+08,8.930056,74.000000,65.000000,87.000000,8.700000e+08,8.939498,...,40.000000,32.000000,41.625000,4.162500e+08,8.619348,28.500000,17.500000,7.750000,7.750000e+07,8.394340
50%,103.000000,97.500000,113.250000,1.132500e+09,9.053952,111.500000,111.000000,114.500000,1.145000e+09,9.058789,...,61.000000,48.000000,58.750000,5.875000e+08,8.769004,42.000000,32.000000,29.750000,2.975000e+08,8.531291
75%,141.000000,154.250000,145.250000,1.452500e+09,9.162099,172.250000,185.000000,153.375000,1.533750e+09,9.185136,...,83.000000,78.000000,75.000000,7.500000e+08,8.875032,54.500000,68.000000,52.250000,5.225000e+08,8.812067
max,231.000000,283.000000,233.500000,2.335000e+09,9.368287,234.000000,293.000000,249.500000,2.495000e+09,9.397071,...,144.000000,203.000000,173.500000,1.735000e+09,9.239299,123.000000,132.000000,106.000000,1.060000e+09,9.025306

In [10]:
df6.to_csv('statistics.csv')

In [12]:
df7=pd.read_csv("C:\\Users\\PRECIOUS ONYEDEKE\\Documents\\DATA-ENGINEERING\\internship class\\Data-Engineering\\statistics.csv")

In [16]:
df7

,Unnamed: 0.1,Unnamed: 0,Unnamed: 1,Average,log value,Unnamed: 4,Unnamed: 5,Unnamed: 6,Average.1,Unnamed: 8,...,Unnamed: 15,Unnamed: 16,Average.3,log value.3,Unnamed: 19,Unnamed: 20,Unnamed: 21,Average.4,log value.4,Unnamed: 24
0,count,29.000000,30.000000,30.000000,3.000000e+01,30.000000,30.000000,30.000000,30.000000,3.000000e+01,...,29.000000,29.000000,30.000000,3.000000e+01,30.000000,23.000000,19.000000,30.000000,3.000000e+01,24.000000
1,mean,110.896552,115.766667,113.583333,1.135833e+09,9.016511,124.800000,130.400000,127.600000,1.276000e+09,...,65.241379,62.620690,63.800000,6.380000e+08,8.753021,50.913043,44.842105,37.300000,3.730000e+08,8.527125
2,std,53.773563,66.521805,46.239460,4.623946e+08,0.195813,60.199324,74.626703,53.118508,5.311851e+08,...,31.661891,46.129797,33.470677,3.347068e+08,0.215741,35.724849,37.103853,35.262709,3.526271e+08,0.413506
3,min,25.000000,19.000000,35.500000,3.550000e+08,8.550228,31.000000,25.000000,35.000000,3.500000e+08,...,24.000000,10.000000,20.000000,2.000000e+08,8.301030,2.000000,1.000000,0.000000,0.000000e+00,7.301030
4,25%,68.000000,72.000000,85.125000,8.512500e+08,8.930056,74.000000,65.000000,87.000000,8.700000e+08,...,40.000000,32.000000,41.625000,4.162500e+08,8.619348,28.500000,17.500000,7.750000,7.750000e+07,8.394340
5,50%,103.000000,97.500000,113.250000,1.132500e+09,9.053952,111.500000,111.000000,114.500000,1.145000e+09,...,61.000000,48.000000,58.750000,5.875000e+08,8.769004,42.000000,32.000000,29.750000,2.975000e+08,8.531291
6,75%,141.000000,154.250000,145.250000,1.452500e+09,9.162099,172.250000,185.000000,153.375000,1.533750e+09,...,83.000000,78.000000,75.000000,7.500000e+08,8.875032,54.500000,68.000000,52.250000,5.225000e+08,8.812067
7,max,231.000000,283.000000,233.500000,2.335000e+09,9.368287,234.000000,293.000000,249.500000,2.495000e+09,...,144.000000,203.000000,173.500000,1.735000e+09,9.239299,123.000000,132.000000,106.000000,1.060000e+09,9.025306

In [23]:
df7.rename(columns={0.1:'first_value'})

,Unnamed: 0.1,Unnamed: 0,Unnamed: 1,Average,log value,Unnamed: 4,Unnamed: 5,Unnamed: 6,Average.1,Unnamed: 8,...,Unnamed: 15,Unnamed: 16,Average.3,log value.3,Unnamed: 19,Unnamed: 20,Unnamed: 21,Average.4,log value.4,Unnamed: 24
0,count,29.000000,30.000000,30.000000,3.000000e+01,30.000000,30.000000,30.000000,30.000000,3.000000e+01,...,29.000000,29.000000,30.000000,3.000000e+01,30.000000,23.000000,19.000000,30.000000,3.000000e+01,24.000000
1,mean,110.896552,115.766667,113.583333,1.135833e+09,9.016511,124.800000,130.400000,127.600000,1.276000e+09,...,65.241379,62.620690,63.800000,6.380000e+08,8.753021,50.913043,44.842105,37.300000,3.730000e+08,8.527125
2,std,53.773563,66.521805,46.239460,4.623946e+08,0.195813,60.199324,74.626703,53.118508,5.311851e+08,...,31.661891,46.129797,33.470677,3.347068e+08,0.215741,35.724849,37.103853,35.262709,3.526271e+08,0.413506
3,min,25.000000,19.000000,35.500000,3.550000e+08,8.550228,31.000000,25.000000,35.000000,3.500000e+08,...,24.000000,10.000000,20.000000,2.000000e+08,8.301030,2.000000,1.000000,0.000000,0.000000e+00,7.301030
4,25%,68.000000,72.000000,85.125000,8.512500e+08,8.930056,74.000000,65.000000,87.000000,8.700000e+08,...,40.000000,32.000000,41.625000,4.162500e+08,8.619348,28.500000,17.500000,7.750000,7.750000e+07,8.394340
5,50%,103.000000,97.500000,113.250000,1.132500e+09,9.053952,111.500000,111.000000,114.500000,1.145000e+09,...,61.000000,48.000000,58.750000,5.875000e+08,8.769004,42.000000,32.000000,29.750000,2.975000e+08,8.531291
6,75%,141.000000,154.250000,145.250000,1.452500e+09,9.162099,172.250000,185.000000,153.375000,1.533750e+09,...,83.000000,78.000000,75.000000,7.500000e+08,8.875032,54.500000,68.000000,52.250000,5.225000e+08,8.812067
7,max,231.000000,283.000000,233.500000,2.335000e+09,9.368287,234.000000,293.000000,249.500000,2.495000e+09,...,144.000000,203.000000,173.500000,1.735000e+09,9.239299,123.000000,132.000000,106.000000,1.060000e+09,9.025306

In [1]:
n=200//60
n

3

In [2]:
m=200%60
m

20

In [16]:
seconds=int(input("enter value in seconds:" ""))
minutes= str(seconds//60)
second= str(seconds%60)
print(minutes +" " "Minutes" "  " +second+" ""Seconds")

enter value in seconds:1000
16 Minutes  40 Seconds