In [ ]:
def factorial(n):
    if n==1:
        return n
    else:
        return n*factorial(n-1)

In [ ]:
num=factorial(6)
print(num)

In [ ]:
#multiplication table

for i in range(1,12):
    for j in range(1,12):
        m=i*j
        print(i, "x", j, "=", m)
    print()

In [ ]:
out_str= main_str=""
for i in range(1,12):
    for j in range(1,5):
        m=j*i
        main_str+= str(j) + "x", + str(i) + "=" + str(m) + "\t"
    out_str += main_str + "\n"
    main_str=""
print(out_str)

In [ ]:
a=["heart","care","live","drive","baker","pool"]
b=["earth","race","evil","driver","break","loop"]

for i in range (len(a)):
    s1 = sorted(a[i])
    s2 = sorted(b[i])
    if (s1 == s2):
        print ("it is equal")
    else:
        print("it is not equal")

In [ ]:
import os
words=["florida","flooring","flooding","flowing","floatation"]
os.path.commonprefix(words)

In [ ]:
words=["florida","flooring","flooding","flowing","floatation"]

for i in range(len(words)):
    if (words[i][:3] == words [i][:3]):
        print(words[i][:3])
    else:
        print("false")

In [ ]:
m=["mimms"]
print(m[0][-2])

In [ ]:
a=["heart","care","live","drive","baker","loop"]
b=["earth","race","evil","driver","break","pool"]
truth_list=[]
count=0
for i in range (len(a)):
    if len(a[i]) != len(b[i]):
        truth_list.append(len(a[i]) == len(b[i]))
        continue
    for j in a[i]:
        for k in b[i]:
            if j==k:
                count+=1
                break
    truth_list.append(count==len(a[i]))
    print(count)
    count=0
print (truth_list)

In [ ]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)

def combination(n,r):
    val=factorial(n)/(factorial(n-r)*factorial(r))
    return int(val)

def pascal_t(n):
    _str=" "
    for i in range(n+1):
        for j in range(i+1):
            val=combination(i,j)
            _str += str(val) + "  "
        print (_str.center(80))
        _str = " "

pascal_t(4)

In [ ]:
a=["florida","flooring","flooding","flowing","floatation"]
a.sort()
print(a)
out_str=" "
count=0
for i in range (len(a[0])):
    for j in range (len(a)):
        if a[0][i]==a[j][i]:
            count +=1
    if count == len(a):
        print(count)
        out_str += a[0][i]
        count=0
    else:
        break
print(out_str)

In [ ]:
for i in range (1, 100):
    if i%5 == 0 and i%3==0:
        print ("fizz buzz")
    elif i%5==0:
        print("buzz")
    elif  i%3==0:
        print ("fizz")
    else:
        print (i)

In [ ]:
for i in range (1,50):
    if i%5 == 0 and i%3==0:
        print ("fizz buzz")
    else:
        print (i)

In [ ]:
a= bin(24)
print(a)

In [ ]:
def dec_to_bin (b):
    mod_num=" "
    while (b>0):
        mod=b % 2
        mod_num += str(mod)
        b=b//2
    return (mod_num)

In [ ]:
decimal=(dec_to_bin(300))
print(decimal)

In [ ]:
decimal=(int(input("enter decimal number:")))
_binary=" "
while (decimal>0):
    mod=decimal % 2
    _binary += str(mod)
    decimal=decimal//2
print("the binary equivalent is:" +_binary[::-1])

In [ ]:

class Car:
    def __init__(this, brand, model):
        this.brand=brand
        this.model=model
        
    def show_car(this):
        print(("my car is {0} {1}").format(this.brand, this.model))
        
mycar=Car("mercedez", "450l")
mycar.show_car()

        
class Spec(Car):
    def __init__ (this,brand,model,color,year):
        super().__init__(brand,model)
        this.color=color
        this.year=year
        
    def show_spec(this):
        print(("my car is {0} {1} {2} {3}").format(this.brand,this.model,this.color,this.year))


my_spec=Spec("mercedez","450l","white","2020")
my_spec.show_spec()

In [15]:
class Employee:
    def __init__(self, name, role, company, deparment, work_hours, salary):
        self.name=name
        self.role=role
        self.company=company
        self.deparment=deparment
        self.work_hours=work_hours
        self.salary = salary
    
        
    def show_employee(self):
        print(("Employees details {0} {1} {2} {3} {4} {5}" ).format(self.name, self.role, self.company, self.deparment,
        self.work_hours, self.salary))
    
    def _salary(self, work_hours):
        return work_hours*500
        
Employee_details=Employee("precious", "intern", "jupyter", "technical", 160, 0)
Employee_details.show_employee()
mysalary =str(Employee_details._salary(160))
print("Salary="+mysalary)

class Manager(Employee):
    def __init__ (self, name, role, company, deparment, work_hours,salary, region):
        super().__init__ ( name, role, company, deparment, work_hours,salary)
        self.region=region
    
    
    def show_manager(self):
        print(("Manager details {0} {1} {2} {3} {4} {5} {6}" ).format(self.name, self.role, self.company, self.deparment,
        self.work_hours,self.salary, self.region))
    
Manager_details=Manager("Nickson", "Manager", "jupyter", "technical", 160, 0, "west")
Manager_details.show_manager()

Employees details precious intern jupyter technical 160 0
Salary=80000
Manager details Nickson Manager jupyter technical 160 0 west

In [ ]:
class Account:
    def __init__ (self, f_name, l_name, dob, address, bvn):
        self.name = name
        self.f_name = f_name
        self.l_name = l_name
        self.dob = dob
        self.address = address
        self.bvn = bvn

class Saving (Account):
    def __init__ (self, f_name, l_name, dob, address, bvn, acc_no, bal):
        super().__init__(self, f_name, l_name, dob, address, bvn)
        self.acc_no = acc_no
        self.bal = bal
    
    def calc_itr (self, bal):
        percent = 0.10/12
        return percent*bal
        
class Current (Account):
    def __init__ (self, f_name, l_name, dob, address, bvn, acc_no, bal):
        super().__init__(self, f_name, l_name, dob, address, bvn)
        self.acc_no = acc_no
        self.bal = bal
        
    def charge (self, bal):
        return bal-100